/*
  Isto FORÇA a parede (html, body) e o gancho do React (#root)
  a não terem NENHUMA margem (margin) ou enchimento (padding)
  e a ocuparem 100% da largura.
*/
html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  
  /* Isto previne o scroll horizontal (barra em baixo) */
  overflow-x: hidden; 
}

body {
  /* O resto disto é só para as fontes */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}